ul {
  width: 264px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
}

.container {
  position:relative;
  width: 264px;
  margin: 0 auto;
  background: url("cat.jpg") no-repeat center;
  z-index:-1;
}

/* Clearfix to grow the height of
   the <ul> to match the contained floats */
ul:after {
  content: "";
  clear: both;
  display: table;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background: gray;
  float: left;
  cursor: pointer;

}

.apple {
  background: orange;
  z-index: 2;
}

li:hover {
  background: yellow;
}

.cat {
  background: transparent;
  z-index: 1;
}

/* Float the <li>s */
.snake {
  background: red;
  z-index: 3;
}